.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*¨
out/*
webview-ui/node_modules/**
webview-ui/public/**
webview-ui/src/**
webview-ui/fonts/**
webview-ui/index.html
webview-ui/package.json
webview-ui/package-lock.json